<div class="row">

	<span id="spot" class="spotlight" style="display: none"></span>
	<div class="col-md-2 sidebar-left">
		<div class="text-center gutter-10">Welcome, {{worker.workers_name}}</div>
		<div class="text-center gutter-10 size-4">
		  <!--<span class="glyphicon glyphicon-user"></span>-->
		  <img ng-src="img/{{levelIcon}}.png" width="64px" />
		</div>
		<h3 class="text-center topper-10">{{worker.workers_level.level_rank}}</h3>
		<progressbar class="active progress-striped" value="worker.workers_completion" max="100">{{worker.workers_completion}}%</progressbar>
		<ul class="nav nav-pills nav-stacked">
		  <li class="active">
		    <a class="cursor" ng-click="findRecentWorkerImages()">
		      <span class="badge pull-right">{{worker.workers_inc}}</span>
		      Tagged Images
		    </a>
		  </li>
		  <li class="active">
		    <a class="cursor" ng-click="findRecentWorkerImages()"> 
		      <span class="badge pull-right">{{worker.workers_points}}</span>
		      My Score
		    </a>
		  </li>
		</ul>
		<div class="gutter-2"></div>
		<div class="panel panel-primary">
		      <div class="panel-heading nav-pills">
			<div class="active">
			  <a href="'">
			  <span class="badge pull-right">{{(worker.workers_badges).length}}</span>
			  </a>
			  My Badges
			</div>
		      </div>
		      <div class="panel-body panel-body-slim text-center">
			<span ng-repeat="i in getNumber((worker.workers_badges).length) track by $index">
			    <img ng-src="img/award{{$index+1}}.png" width="64px" class="badge-style cursor" />
			</span>

			<span ng-if="(worker.workers_badges).length < maxBadges1">
                            <span ng-repeat="i in getNumber(maxBadges1 - (worker.workers_badges).length) track by $index">
                                <img ng-src="img/locked-badge.png" width="64px" class="badge-style-locked" />
                            </span>
			</span>

                        <span ng-if="(worker.workers_badges).length >= maxBadges1 && (worker.workers_badges).length < maxBadges2">
                            <span ng-repeat="i in getNumber(maxBadges2 - (worker.workers_badges).length) track by $index">
                                <img ng-src="img/locked-badge.png" width="64px" class="badge-style-locked" />
                            </span>
                        </span>

                        <span ng-if="(worker.workers_badges).length >= maxBadges2 && (worker.workers_badges).length < maxBadges3">
                            <span ng-repeat="i in getNumber(maxBadges3 - (worker.workers_badges).length) track by $index">
                                <img ng-src="img/locked-badge.png" width="64px" class="badge-style-locked" />
                            </span>
                        </span>

		      </div>
		</div>

		<alert ng-repeat="messageAlert in messageAlerts" type="{{messageAlert.type}}" close="closeMessageAlert(0)"><span class="size-12px">{{messageAlert.title}}</span>
			<hr class="narrow-hr" /><span class="size-12px">{{messageAlert.message}}</span>
		</alert>
	</div>

        <div class="overlay z1100" id="overlay" style="display: none">
        </div>

	<div class="col-md-7 col-md-offset-2 main middle-background z1100">

        <div ng-show="initializationStatus == 'incentivize'" class="text-center z999">
            <br/><br/><br/>
            <div class="shown_popup">
                <div class="shown_popup_inner">
                    <div class="onleft" style="text-align: center">
                        <span class="popup_size1">{{incentiveMessageCluster[2]}}</span><br/>
                        <span class="popup_size2">{{incentiveMessageCluster[3]}}</span></br>
                        <span class="popup_size3">{{incentiveMessageCluster[4]}}</span><br/>
                        <span class="popup_size2">{{incentiveMessageCluster[5]}}</span>
                    </div>

                    <div class="onright">
                        <p class="sexy">{{incentiveMessageCluster[1]}}</p>
                        <p class="lgrey">{{incentiveMessageCluster[0]}}</p>
                        <button type="button" ng-click="hideFurtheranceIncentive()" class="btn btn-primary ng-scope" style="margin-bottom: 15px">
                          &nbsp;&nbsp;Ok Thanks&nbsp;&nbsp;
                        </button>
                        <button type="button" ng-click="hideFurtheranceIncentive()" class="btn btn-default ng-scope" style="margin-bottom: 15px">
                          &nbsp;&nbsp;No Thanks&nbsp;&nbsp;
                        </button>
                    </div>
                </div>
            </div>

        </div>


	<div ng-show="initializationStatus == 'new'" class="text-center">
		<span class="header-font size-xlarge">
		To get started, click the button
		</span><br>
		<img ng-src="img/start-button.png" ng-click="getNextImage()"class="cursor"  id="playBtn" />
		<br/>
                <div class="header-font size-xlarge gutter-20">
                <a ng-click="toggleInstructions()"><span class="white" id="instruction-title">Hide Instructions</span></a>
                </div>

		<div class="text-center">
		<div id="instructions" class="instructions-background" style="display: block">

			<div id="gi-1" class="game-instructions">
				<h3>Overview</h3>
				<div>
				<ul>
				<li>In this game, you will be creating keywords to describe the picture that you see.</li>
				<li>You are only required to tag 11 (ELEVEN) images, after which, you can continue playing if you choose.</li>
				<li>Prefer keywords (i.e. single words) except necessary phrases (e.g., french fries, hot dog).</li>
				</ul>
				</div>
			</div>

			<div id="gi-2" class="game-instructions" style="display: none">
                        	<h3>Bonus Points</h3>
				<div>
				<ul>
				<li>Typing in just the "right" words earn you bonus points</li> 
				<li>Earn single, double or triple points.</li>
				<li>See how many bonus points you can get, and try unlocking the treasure chest.</li>
				</ul>
				</div>
			</div>

                        <div id="gi-3" class="game-instructions" style="display: none">
                                <h3>Badges</h3>
                                <div>
                                <ul>
                                <li>See how many badges you can unlock</li>
                                <li>The badges are awarded in an interesting fashion - can you figure it out?</li>
				<li>Unlock the first 9 badges and see what happens.</li>
                                </ul>
                                </div>
                        </div>

                        <div id="gi-4" class="game-instructions" style="display: none">
                                <h3>Leaderboard</h3>
				<ul>
				<li>Play against the world!</li>
				<li>See how you stack against other players</li>
				<li>Can you become the ultimate "Wordsmith" ?</li>
				</ul>
                        </div>

			<div class="instruction-navigation text-center padding-10">
				<a ng-click="showInstruction('prev')" ng-show="currentInstruction != 1">prev</a> | <a ng-click="showInstruction('next')" ng-show="currentInstruction != 4">next</a>
			</div>
		</div>
		</div>


	</div>


        <div ng-show="initializationStatus == 'gameover'" class="text-center">
		<br><span class="header-font size-xlarge">Game Over</span><br>
		<div><img ng-src="img/wordsmith.png" /></div>

		<div class="header-font size-xlarge">
			You are The {{worker.workers_level.level_rank}}
		</div><br>

		<div class="header-font size-xxlarge rotate-10deg gold">
			Congratulations
		</div>
		<div>
			<span ng-repeat="i in getNumber(5) track by $index">
				<span id="gameover-stars-{{$index}}" style="display: none; position: relative"><img ng-src="img/3dstar.png" /></span>
			</span>
		</div>
	</div>


        <div ng-show="initializationStatus == 'nextlevel'" class="text-center">
                <div id="next-level-div" style="display: none">
                        <div class="header-font size-xlarge">
                                New level attained
                        </div><br>
                        <div class="header-font size-xxlarge rotate-10deg cursor" ng-click="startNextLevel()">
                                {{worker.workers_level.level_rank}}
                        </div>
                        <div class="header-font size-xlarge cursor" ng-click="startNextLevel()">
                                Click to continue
                        </div>
                </div>
        </div>


        <div ng-show="initializationStatus == 'recentimages'" class="text-center">
		<h3>My Recently Tagged Images</h3>
		<div class="text-center"><a class="cursor white" ng-click="backToGame()">go back to game</a><br/><br/></div>
		<div ng-repeat="recentImage in recentWorkerImages">
			<div class="float-left">
				<img ng-src="../../turk_images/{{recentImage.image_name}}" height="280" class="jSlots-wrapper" />
				&nbsp;&nbsp;&nbsp;
			</div>
			<div class="float-left" style="padding-top: 200px; text-align: left">
				<span ng-repeat="i in getNumber(5) track by $index">
                        	        <button type="button" class="btn wide-button" ng-show="recentImage.tags[$index] != ''">
                        	            <span class="glyphicon glyphicon-tag"></span> {{recentImage.tags[$index]}}
                        	        </button>
				</span>
				<br/><br/>
				<a class="cursor" ng-click="backToGame()">go back to game</a>
			</div>
			<div class="float-clear">
				<br/><br/>
			</div>
		</div>
        </div>


	<div ng-show="initializationStatus == 'old'">
	    <div ng-class="{true: 'float-left reserved-words', false: 'float-left'}[maxRestrictedTags > 0]">
		<div ng-show="maxRestrictedTags > 0" class="text-center bold">RESERVED</div>
		<div ng-class="{true: '', false: ''}[maxRestrictedTags > 0]">
	               	<div ng-repeat="tag in image.tags">
				<button type="button" class="btn wide-button" ng-show="$index < maxRestrictedTags"
					popover-placement="right" popover-trigger="mouseenter" 
					popover="This is a reserved word">
				    <span class="glyphicon glyphicon-remove"></span> {{image.tags[$index]}}
				</button>
			</div>
		</div>
	    </div>

	    <div class="text-center gutter-10 image-holder">
		<img ng-src="../../turk_images/{{image.image_name}}" height="280" class="jSlots-wrapper" />
		<span class="bold next-image-text cursor" ng-click="getNextImage()">NEXT IMAGE</span>
		<img ng-src="img/play.png" ng-click="getNextImage()" class="next-button cursor" id="playBtn" />
	    </div>

            <button type="button" class="btn wide-button">
                <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{maxPoint}} points
            </button>

	    <button type="button" class="btn wide-button">
		<span class="glyphicon glyphicon-time"></span> {{maxTime - counter}} s
	    </button>

	    <div class="gutter-20"></div>

	    <progressbar class="active" value="counter" max="maxTime" type="{{progressType}}"></progressbar>
		<form class="form-horizontal" role="form">

		<div ng-repeat="i in getNumber(maxKeywords) track by $index">
                  <div class="form-group {{tagState[$index]}} has-feedback">
                    <label class="control-label col-sm-2" for="tag_{{$index}}">Enter Tag {{$index + 1}}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="tag_{{$index}}" ng-model="keywords[$index]" ng-blur="validateTag($index)" ng-disabled="counter == maxTime">
                      <span class="glyphicon {{tagGlyph[$index]}} form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="alert {{tagAlert[$index]}}">{{tagAlertText[$index]}}</div>
		</div>


                <div ng-show="current_control_text != ''">
                  <div class="form-group {{controlTextState}} has-feedback">
                    <label class="control-label col-sm-2" for="control_text">{{shorter_control_text}}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="control_text" ng-model="workers_control_text" 
			ng-blur="validateControlText()" ng-disabled="counter == maxTime" placeholder="{{current_control_text}}">
                      <span class="glyphicon form-control-feedback {{controlTextGlyph}}"></span>
                    </div>
                  </div>
                  <div class="alert {{controlTextAlert}}">{{controlTextAlertText}}</div>
                </div>


		  <div class="float-left">

		  </div>

		  <div class="float-right">
		  <button type="button" class="btn btn-primary" ng-click="addUserImage()" popover="{{tagErrorMessage}}" 
		      popover-placement="left" popover-trigger="focus" ng-hide="counter == maxTime" ng-show="counter < maxTime">
		      &nbsp;&nbsp;Submit&nbsp;&nbsp;
		  </button>
		  <button type="button" class="btn btn-warning" ng-click="retryAddUserImage()" ng-show="counter == maxTime" ng-hide="counter < maxTime">
		      &nbsp;&nbsp;Retry&nbsp;&nbsp;
		  </button>
		  <button type="button" class="btn btn-danger" ng-click="cancelImage()">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
		  </div>
		</form>
	</div>

	</div>

	<div class="col-md-3 sidebar-right">
		<h3 class="text-center margintop-0 blue">
		Leaderboard
		</h3>
		<table class="table table-condensed table-stripped size-14px">
		    <thead>
			<tr>
			<th>#</th>
			<th>Username</th>
			<th>Rank</th>
			<th><span class="float-right">Score</span></th>
			</tr>
		      </thead>
		    <tbody>
			<tr ng-repeat="leader in leaderboard" ng-class="{true: 'bold red', false: ''}[leader.workers_id == worker.workers_id]">
			<td class="leaderboard-col1">{{$index + 1}}</td>
			<td class="leaderboard-col2" ng-show="role == 'player'">
			    {{leader.workers_name}}
			</td>
			<td class="leaderboard-col2" ng-show="role == 'master'">
			    <a class="cursor" ng-click="findRecentWorkerImages(leader.workers_name)">
			        {{leader.workers_name}}
			    </a>
			</td>
			<td class="leaderboard-col3">{{(getWorkerLevel(leader.workers_inc)).level_rank}}</td>
			<td class="leaderboard-col4"><span class="float-right">{{leader.workers_points}} <span class="activities-recency size-12px">pts</span></span></td>
			</tr>

			<tr ng-hide="worker.workers_position <= 5"><td colspan="4">...</td></tr>

			<tr ng-hide="worker.workers_position <= 5" class="bold red">
			<td class="leaderboard-col1">{{worker.workers_position}}</td>
			<td class="leaderboard-col2">{{worker.workers_name}}</td>
			<td class="leaderboard-col3">{{(getWorkerLevel(worker.workers_inc)).level_rank}}</td>
			<td class="leaderboard-col4"><span class="float-right">{{worker.workers_points}} <span class="activities-recency size-12px">pts</span></span></td>
			</tr>
		    </tbody>
		</table>

		<div class="topper-20 gutter-20" id="newbadge-congrats" style="display: none">
			<h3 class="text-center margintop-0 blue">
			Congratulations
			</h3>
			<div class="text-center">
				You have unlocked the <span class="bold">{{newBadgeName}}</span><br>
				<span id="newbadge-div" style="display: none"><img ng-src="img/award{{(worker.workers_badges).length}}.png" /></span>
			</div>
		</div>
		<div class="topper-20 gutter-20" id="enterleaderboard-congrats" style="display: none">
			<h3 class="text-center margintop-0 blue">
			Congratulations
			</h3>
			<div class="text-center">
				You are now on <span class="bold">The Leaderboard</span><br>
				<span id="enterleaderboard-div" style="display: none"><img ng-src="img/globe.png" /></span>
			</div>
		</div>
		<div class="topper-20 gutter-20" id="climbleaderboard-congrats" style="display: none">
			<h3 class="text-center margintop-0 blue">
			Congratulations
			</h3>
			<div class="text-center">
				You have climbed up <span class="bold">The Leaderboard</span><br>
				<span id="climbleaderboard-div" style="display: none"><img ng-src="img/star.png" /></span>
			</div>
		</div>
                <div class="topper-20 gutter-20" id="bonuspoints-congrats" style="display: none">
                        <h3 class="text-center margintop-0 blue">
                        Congratulations
                        </h3>
                        <div class="text-center">
                                You have earned <span class="bold">{{bonusPointsName}}</span>bonus points <span class="italic">(+{{bonusPointsValue}} points)</span><br>
				<span ng-repeat="i in getNumber(maxBonusPoints) track by $index">
                                	<span id="bonus-points-{{$index}}" style="display: none"><img ng-src="img/coin.png" /></span>
				</span>
                        </div>
                </div>
                <div class="topper-20 gutter-20" id="bonustreasurepoints-congrats" style="display: none">
                        <h3 class="text-center margintop-0 blue">
                        Congratulations
                        </h3>
                        <div class="text-center">
                                You have earned <span class="bold">{{bonusTreasurePointsName}}</span> treasure points <span class="italic">(+{{bonusTreasurePointsValue}} points)</span><br>
                                <span id="bonustreasurepoints-div" style="display: none"><img ng-src="img/{{bonusTreasurePointsName}}.png" /></span>
                        </div>
                </div>

		<div>
			<div class="outer-curve">
				<div class="float-left padding-10 white size-16px">Recent Activities</div>
				<div class="float-right padding-12 white size-12px">What's this?</div>
				<div class="inner-curve float-clear padding-10">

					<div ng-repeat="activity in activities" class="activities-row">
                                                <div class="activities-icon float-left"><span class="glyphicon glyphicon-user"></span></div>
                                                <div class="activities-message float-left size-12px">
                                                        <span class="bold">{{activity.workers_id}}</span> {{activity.action_done}} <span class="bold">{{activity.action_object}}</span>
                                                        <div>
								<span class="activities-recency">
								{{getActivityRecency(activity.timestamp)}} ago
								</span>
							</div>
                                                </div>
                                                <div class="activities-badge float-right"><img src="img/{{activity.icon}}" width="100%"/></div>
					</div>
				</div>
                                <div class="float-left padding-10 white size-12px">Freeze</div>
                                <div class="float-right padding-10 white size-12px">How do I earn points?</div>
			</div>
		</div>
	</div>
</div>
